$('#product_price<%= @product.id %>').html("<p>Price: <%= @product.price %></p>").toggle();
$('#product_description<%= @product.id %>').html("<p> Description: <%= @product.description %></p>").toggle();
$('#product_image<%= image_tag product.image.url %>').html("<p> Image: <%= @product.image %></p>").toggle();
